html {
    background-color: lab(72.05% 9.51 -34.85);
}

.square-list {
    list-style-type: square;
}

.letters-list {
    list-style-type: upper-alpha;
}

.nav {
    list-style-type: none;
    background-color: rgb(240, 255, 255);
    padding: 0;
}